@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
  --is-primary: #000000;
  --is-secondary: #209cee;
  --is-tertiary: #ffffff;
  --is-background: #fafafa;
}

body,
html {
  background-color: var(--is-background);
  color: var(--is-primary);
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:active,
a:focus {
  color: var(--is-tertiary);
  text-decoration: none;
}

main {
  margin: 0 auto;
  max-width: 1024px;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

header > img {
  border-radius: 100px;
  max-width: 100px;
}

header > p {
  margin: 0;
  max-width: 350px;
  text-align: center;
}

header > h1 {
  background-color: var(--is-secondary);
  border-radius: 100px;
  color: var(--is-tertiary);
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0;
  padding: 2.5px;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

section > ul {
  list-style: none;
  padding: 0;
}

section > ul > li {
  line-height: 50px;
}

section > ul > li > a {
  background: var(--is-secondary);
  border-radius: 100px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  width: 350px;

  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

@media (max-width: 768px) {
  section > ul > li > a {
    width: 300px;
  }
}
